<div class="wrapper">
  <main>
    <div class="all__appointments">
      <ng-container *ngIf="allAppointments.length > 0; else noContentBlock">
        <div
          *ngFor="let appointment of allAppointments; let i = index"
          cdkDrag
          [cdkDragData]="appointment"
        >
          <app-appointment-single
            [data]="appointment"
            [allAppointmentsPage]="allAppointmentsPage"
            (viewAppointmentDetails)="onViewAppointment($event, i)"
          ></app-appointment-single>
        </div>
      </ng-container>
      <ng-template #noContentBlock>
        <div class="no-content">No appointments available.</div>
      </ng-template>
    </div>
  </main>
</div>
