<div class="appointments">
  <div
    class="appointments__list"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
  >
    <ng-container *ngIf="allAppointments.length > 0; else noContentBlock">
      <div
        *ngFor="let appointment of allAppointments; let i = index"
        cdkDrag
        [cdkDragData]="appointment"
      >
        <app-appointment-single
          [data]="appointment"
          [index]="i"
          [date]="appointment.date"
          (deleteAppointment)="deleteAppointment($event)"
        ></app-appointment-single>
      </div>
    </ng-container>
    <ng-template #noContentBlock>
      <div class="no-content">No appointments available.</div>
    </ng-template>
  </div>

  <button mat-raised-button (click)="openDialog()">ADD NEW</button>
</div>
